@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

* { margin:0; padding:0 }

html, body {
    height: 100%;
}

html {
    font: 100%/1.4 Roboto, Arial, sans-serif;
    font-size: 3vw;
}
@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
}
@media (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

body {
    font-size: inherit;
    background: url('bandstand_light.png') no-repeat;
    background-position: 390px bottom;
    background-size: contain;
    box-sizing: border-box;
    padding: 3rem;
    max-width: 100rem;
    margin: auto;
}
@media (max-height: 800px) {
    body {
        background: none;
    }
}

a {
    color: hsl(0, 100%, 28%);
}
a:hover {
    color: hsl(20, 100%, 38%);
}

header {
    margin-bottom: 2rem;
}

header h1 {
    font-size: 7vw;
    line-height: 1;
    color: hsl(0, 100%, 28%);
    padding-bottom: 1.4rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}
@media (max-width: 400px) {
    header h1 {
        font-size: 2rem;
    }
}
@media (min-width: 800px) {
    header h1 {
        font-size: 4rem;
    }
}

header h1 span {
    color: hsl(0, 0%, 60%);
}

header h1 ~ * + * {
    display: inline-block;
}

ul {
    display: inline-block;
    font-weight: 500;
    list-style: none;
    line-height: 2.3;
}

li::before {
    content: '■';
    color: hsl(0, 100%, 28%);
    margin-right: .5rem;
    display: inline-block;
    vertical-align: 0.1em;
}

li ul {
    display: block;
    margin-left: 2rem;
}
